<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <input #input (keyup)="searchUser( input.value )" type="text" class="form-control" placeholder="Buscar usuario ....."> -->
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando ....</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div *ngIf="_userServices.user.isProfessional" class="text-right">
                    <button [routerLink]="['/service']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa_plus">Crear servicio nuevo</i>
                    </button>
                </div>

                <h3 class="card-title"> Servicios resgistrados ( <small> {{ totalServices }} </small> ) </h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Nombre </th>
                            <th> Descripcion </th>
                            <th> Precio </th>
                            <!-- <th> ¿Esta disponible? </th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let service of services">
                            <td> {{ service.name }} </td>
                            <td> {{ service.description }} </td>
                            <td> {{ service.price }} </td>
                            <!-- <td> {{ service.isActive }} </td> -->
                            <td *ngIf="_userServices.user.isProfessional">
                                <button (click)="updateService( service )" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="serviceToDelete( service )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <!-- <button *ngIf="from>0" (click)="changeFrom(-5)" class="btn btn-secondary">
                Anteriores
              </button>

                <button *ngIf="from+5<=totalUsers" (click)="changeFrom(5)" class="btn btn-secondary">
                Siguientes
              </button> -->

            </div>
        </div>
    </div>
</div>