<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- <input #input (keyup)="searchUser( input.value )" type="text" class="form-control" placeholder="Buscar usuario ....."> -->
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando ....</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!loading">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div *ngIf="!_userServices.user.isProfessional" class="text-right">
                    <button [routerLink]="['/appointment', 'new']" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
                        <i class="fa fa_plus">Crear nueva cita nuevo</i>
                    </button>
                </div>

                <h3 class="card-title"> Citas resgistradas ( <small> {{ totalAppointments }} </small> ) </h3>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Direccion </th>
                            <th> Fecha </th>
                            <th> Informacion adicional </th>
                            <!-- <th> ¿Esta disponible? </th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let appointment of appointments">
                            <td> {{ appointment.address }} </td>
                            <td> {{ appointment.date | date: 'dd-MMM-yyyy'}} </td>
                            <td> {{ appointment.extraInfo }} </td>
                            <!-- <td> {{ appointment.isActive }} </td> -->
                            <td>
                                <button [routerLink]="['/appointment', appointment._id]" class="btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>

                                <button (click)="appointmentToDelete( appointment )" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>

                </table>

                <!-- <button *ngIf="from>0" (click)="changeFrom(-5)" class="btn btn-secondary">
                Anteriores
              </button>

                <button *ngIf="from+5<=totalUsers" (click)="changeFrom(5)" class="btn btn-secondary">
                Siguientes
              </button> -->

            </div>
        </div>
    </div>
</div>